{{!-- Use the main layout --}}
{{#extend "layouts/main"}}

{{!-- Dashboard content --}}
{{#block "body"}}
    <h1>Dashboard</h1>
    <a href="/posts/new">Create New Post</a>
    <button id="logout">Logout</button> <!-- Logout button -->
    {{#if userPosts}}
        {{#each userPosts}}
            {{> post}}
            <a href="/posts/edit/{{this.id}}">Edit</a>
            <a href="/posts/delete/{{this.id}}">Delete</a>
        {{/each}}
    {{else}}
        <p>You have not created any posts yet.</p>
    {{/if}}
{{/block}}

{{#block "scripts"}}
    <script src="/js/logout.js"></script>
{{/block}}

{{/extend}}
