{{!-- Use the main layout --}}


{{!-- Dashboard content --}}
<div>
    <h1>Dashboard</h1>
    <a href="/api/posts/new">Create New Post</a>
    {{#if userPosts}}
        {{#each userPosts}}
            {{> post}}
            <a href="/posts/edit/{{this.id}}">Edit</a>
            <a href="/posts/delete/{{this.id}}">Delete</a>
        {{/each}}
    {{else}}
        <p>You have not created any posts yet.</p>
    {{/if}}
</div>
<div>
    <script src="/js/logout.js"></script>
</div>
