{{!-- Use the main layout --}}


{{!-- Insert content into the {{{body}}} placeholder --}}
<div>
    <h1>Welcome to My Blog</h1>
    {{#if posts}}
        {{#each posts}}
            {{> post}}
        {{/each}}
    {{else}}
        <p>No posts to display.</p>
    {{/if}}
</div>


