{{!-- Use the main layout --}}
{{#extend "layouts/main"}}

{{!-- Registration form --}}
{{#block "body"}}
    <h1>Register</h1>
    {{> registerForm}}
{{/block}}

{{#block "scripts"}}
    <script src="/js/register.js"></script>
{{/block}}

{{/extend}}
